# Dependency directories
node_modules/

# WebStorm Project File
.idea

/server/config.json
/server/static/js/edk-route-verifier.min.js
/server/static/js/edk-route-verifier.js
/test/screenshots/
/test/reports/

# Debug logs
selenium-debug.log