<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trasy</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Trasa</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-check"></i> Wizualizacja trasy</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div id="map-canvas"
                             data-what="http://localhost:8080/kml/<%= routeId %>"
                             data-route-params="http://localhost:8080/route-params/<%= routeId %>"
                             data-route-approve="http://localhost:8080/route-approve/<%= routeId %>"
                             style="height: 400px">
                        </div>
                    </div>


                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-check"></i> Automatyczna weryfikacja trasy</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12 margin-bottom">
                                <button id="verifyRoute" type="button" class="btn btn-primary btn-block">
                                    <i class="fa fa-gears"></i> Zweryfikuj poprawność śladu trasy
                                </button>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="singlePath" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-circle-o"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Jedna nitka</span>
                                        <span class="users-list-date">Ślad trasy zawierać powinien jedną nitkę - ścieżkę.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="pathLength" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-map-signs"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Długość</span>
                                        <span class="info-box-number"></span>
                                        <span class="users-list-date">Długość wyliczona na podstawie dołączonego śladu trasy.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="routeType" class="info-box">
                                    <span class="info-box-icon bg-navy-active disabled"><i class="fa fa-flag-o"></i></span>
                                    <input id="normalRouteString" value="Trasa EDK" type="hidden">
                                    <input id="inspiredRouteString" value="Droga na wzór EDK" type="hidden">
                                    <div class="info-box-content">
                                        <span class="info-box-text">Typ trasy</span>
                                        <span class="info-box-number"></span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="numberOfStations" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-map-marker"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Liczba i nazewnictwo stacji</span>
                                        <span class="info-box-number"></span>
                                        <span class="users-list-date">Trasa powinna liczyć 14 ponumerowanych stacji.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="stationsOrder" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-sort-numeric-asc"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Kolejność stacji</span>
                                        <span class="users-list-date">Stacje powinny być umieszczone na trasie w kolejności rosnącej.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="stationsOnPath" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-map-pin"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Rozmieszczenie stacji</span>
                                        <span class="users-list-date">Stacje powinny być w maksymalnej odlegości 100m od śladu trasy.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="elevationGain" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-arrow-up"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Suma podejść</span>
                                        <span class="info-box-number"></span>
                                        <span class="users-list-date">Suma podejść wyliczona na podstawie śladu trasy.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="elevationLoss" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-arrow-down"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Suma zejść</span>
                                        <span class="info-box-number"></span>
                                        <span class="users-list-date">Suma zejść wyliczona na podstawie śladu trasy.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="elevationTotalChange" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-arrows-v"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Suma przewyższeń</span>
                                        <span class="info-box-number"></span>
                                        <span class="users-list-date">Suma przewyższeń wyliczona na podstawie śladu trasy.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div id="dataConsistency" class="info-box">
                                    <span class="info-box-icon bg-gray-light"><i class="fa fa-warning"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Zgodność danych</span>
                                        <span class="users-list-date">Długość trasy (±1km), suma podejść (±50m) oraz typ powinny zgadzać się z wyliczonymi wartościami.</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="col-md-12">
                                <div id="profilTrasy">Profil trasy</div>
                                <canvas id="elevationChart" style="height: 150px; width: 100%"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<script type="text/javascript" src="https://rawgit.com/geocodezip/geoxml3/master/polys/geoxml3.js"></script>
<script src="/static/js/loadMap.js"></script>
<script async defer src="<%= googleMapsApiUrl %>"></script>

<script src="/static/js/routeVerifier.js"></script>

</body>
</html>
